# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json
llava/dynamic_eval/bench_test/nltk_data.zip
llava/dynamic_eval/bench_test/nltk_data
llava/eval/bench_test/nltk_data.zip
llava/eval/bench_test/nltk_data

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/
